tensorflow
transformers
tensorflow_hub
tensorflow-addons
pillow
numpy
librosa
moviepy
python-docx
pypdf2
python-pptx
pandas
requests
scikit-learn
spektral

torch 
torchvision
torch-geometric
networkx
mysql-connector-python
tensorflow-probability




# pip install -r requirements.txt